<body class="homepage">
<div class="authentication_form">

  <%= form_tag('/sessions') do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag :login, value: "Login" %>

    <div class="password_reset">
      <%= link_to "forgot password", new_reset_password_path, {:style=>'color:#000000;'} %>
    </div>
  <% end %>
</div>
</body>