<body class="homepage">
<div class="authentication_form">

  <%= form_tag('/sessions') do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag :login, value: "Login" %>
  <% end %>
</div>
</body>