<body class="homepage">
<%= @notice %>
<% if @user.errors.present? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="authentication_form">
  <%= form_for @user do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Enter email" %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Enter password" %>

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit :register, :value => "Register" %>
  <% end %>
</div>
</body>