<div class="container">
  <div class="jumbotron">
    <div class="gigs_header">
      <h1 style="text-align: center; color:#000000"><%= @display_name %></h1>
    </div>

    <%= image_tag @image_url %>

    <hr style="margin-bottom: -10px;">

    <div id="title">
      <h2>Upcoming Shows</h2>
    </div>

    <table align="center" class="table table-bordered">
      <tr>
        <th>Venue</th>
        <th>Location</th>
        <th>Cast Your Vote</th>
        <th>Total Votes</th>
      </tr>
      <% @gigs.results.each do |gig| %>
        <tr>
          <td><%= gig.display_name %></td>
          <td><%= gig.venue.display_name %>, <%= gig.venue.metro_area.state %>, <%= gig.venue.metro_area.country %></td>
          <td><%= link_to "Vote Now!",
                          votes_new_path(gig_display_name: gig.display_name,
                                         gig_id: gig.id,
                                         artist: @display_name),
                          method: :post,
                          :style => "color:red" %></td>
          <td><%= link_to "All Votes",
                          votes_for_gig_path(gig_id: gig.id),
                          :style => "color:blue" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>