<!--<h1 id="band_info"><%= @artist_name %></h1>-->
<%= @artist_name %>

<%= image_tag @image_url %>

<div class="container">
  <% @gigs.each do |venue, location| %>
    <ul>
      <li><%= venue %>, <%= location %></li>
    </ul>
  <% end %>
</div>