<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="row">
          <div class="col-md-6"> <%= image_tag @image_url %></div>
          <div class="col-md-6" style="text-align: left; color:#ffffff"><h2>Upcoming Shows for <%= @display_name %></h2>
            <br>
            <%= link_to "Past Shows", votes_for_past_shows_path(artist: @display_name), :style => "color:black", class: "btn btn-default no-left-padding" %>
          </div>
          <div id="songkick_icon">
            <a href="http://www.songkick.com/search?utf8=%E2%9C%93&type=initial&query=<%= @display_name %>&commit=" target="new"><%= image_tag "SongKickLogo.png" %></a>
          </div>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <table align="center" class="table table-striped">
        <tr style="font-size: 20px">
          <th>Venue</th>
          <th>Location</th>
          <th>Vote!</th>
          <th>Total</th>
        </tr>
        <% @gigs.results.each do |gig| %>
          <tr>
            <td><%= gig.display_name %></td>
            <td><%= gig.venue.display_name %>, <%= gig.venue.metro_area.state %>
              , <%= gig.venue.metro_area.country %></td>
            <td><%= link_to "Vote Now!",
                            votes_new_path(gig_display_name: gig.display_name,
                                           gig_id: gig.id,
                                           artist: @display_name),
                            method: :post,
                            class: "btn btn-default" %></td>
            <td><%= link_to "See Votes", votes_for_gig_path(gig_id: gig.id), class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
