<div class="container">
  <div class="jumbotron">
    <div class="gigs_header">
      <h1 style="text-align: center; color:#000000"><%= @display_name %></h1>
    </div>

    <%= image_tag @image_url %>

    <hr style="margin-bottom: -10px;">

    <h2 align="center">Upcoming Shows</h2>

    <table align="center" class="table table-bordered">
      <tr>
        <th>Venue</th>
        <th>Location</th>
        <th>Cast Your Vote</th>
      </tr>
      <% @gigs.each do |venue, location| %>
        <tr>
          <td><%= venue %></td>
          <td><%= location %></td>
          <td><%= link_to "Rock Your Vote!",
                          songs_new_path(venue: venue, location: location, artist: @display_name),
                          method: :post,
                          :style => "color:red" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>