<div class="container">
  <div class="jumbotron">
    <div class="row">
      <ul style="color:#F7F7F7">
        <li><h1 style="text-align: center"><%= @display_name %></h1></li>
        <li><h2 style="text-align: center;color:#000000"><%= @venue %> - <%= @location %></h2></li>
        <hr>
        <table align="center" class="table table-bordered">
          <tr>
            <th></th>
            <th>Vote for the 5 songs you want to hear!</th>
          </tr>
          <%= form_for(@vote) do |x| %>
            <% @song_list.each do |song| %>
              <tr>
                <td><input type="checkbox" id="songs" name="songs[<%= song %>]" value="<%= song %>"></td>
                <td><%= x.label song %></td>
              </tr>
              <input type="hidden" name="artist" value="<%= @display_name %>"/>
              <input type="hidden" name="gig_id" value="<%= @gig_id %>"/>
            <% end %>
            <tr>
              <td><%= x.submit :submit %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </ul>
    </div>
  </div>
</div>