<div class="container">
  <div class="jumbotron">
    <div class="row">
      <ul style="color:#F7F7F7">
        <li><h1 style="text-align: center"><%= @display_name %></h1></li>
        <li><h2 style="text-align: center" style="color:#000000"><%= @venue %> - <%= @location %></h2></li>
        <hr>
        <table align="center" class="table table-bordered">
          <tr>
            <th>Vote for the 5 songs you want to hear!</th>
            <th>Song Name</th>
          </tr>
          <%= form_for :votes do |x| %>
            <% @song_list.each do |item| %>
              <tr>
                <td><%= x.check_box :song_name %></td>
                <td><%= x.label item %></td>
              </tr>
            <% end %>
            <tr>
            <td><%= x.button :submit %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </ul>
    </div>
  </div>
</div>