<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="paulLogo.png"/>
  <title>Rock Your Vote!</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="header_logo">
    <% if logged_in? %>
      <a href="/index"><%= image_tag "paulLogo2 (1).png" %></a>
    <% else %>
      <a href="/"><%= image_tag "paulLogo2 (1).png" %></a>
    <% end %>
  </div>

  <ul id="nav">
    <% if logged_in? %>
      <li><a id="my_votes_link" href="/votes_for_user">My Votes</a></li>
      <li>| <%= link_to "Logout", logout_path %> |</li>
      <li id="user_name"><%= current_user.email %></li>
      <li><%= link_to "Home", index_path %> |</li>
    <% else %>
      <!--<span class="glyphicon glyphicon-filter"></span>-->
      <li id="login"><%= link_to "Login", new_session_path %></li>
      <li id="register"><%= link_to "Register", new_user_path %> |</li>
    <% end %>
  </ul>
</header>

<div class="welcome_flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>


<div id="footer" class="navbar-default">
  <div class="container">
    <h5>Copyright © 2014</h5>
  </div>
</div>
<%= yield %>

</body>
</html>
