<!DOCTYPE html>
<html>
<head>
  <title>Rock Your Vote!</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

  <h1 data-homepage="<%= root_path %>">Rock Your Vote!</h1>

  <ul id="nav">
    <% if logged_in? %>
      <li>| <%= link_to "Logout", logout_path %></li>
      <li id="user_name"><%= current_user.email %></li>
    <% else %>

      <li id="login"><%= link_to "Login", new_session_path %></li>
      <li id="register"><%= link_to "Register", new_user_path %> |</li>
    <% end %>
  </ul>
</header>

<div class="welcome_flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
