<!DOCTYPE html>
<html>
<head>
  <title>Rock Your Vote!</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <section>
    <h1 align="left" style="color:#F7F7F7" style="font: 'Roboto Condensed', sans-serif">Rock Your Vote!</h1>
  </section>
  <% if logged_in? %>
    <%= link_to "Logout", logout_path %>
    <a><%= current_user.email %></a>
  <% else %>

    <%= link_to "Login", new_session_path %>
    <%= link_to "Register", new_user_path %>
  <% end %>

</div>

<div class="welcome_flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
